.headpage4{
    font-size: xx-large;
    font-weight: 600;
}
.icpg4{
    font-size: xx-large;
    font-weight: 300;
}
.fstpg4{
    background-color: rgb(214, 231, 236);
    border-radius: 10px;
}
.ic1pg4{
    font-size: xx-large;
}
.ic1te1pg4{
        margin-left: 10%;
}